:root {
  --brand-color: #434455;
  --brand-color-background: #ffffff;
  --logo-color: #4d5ae5;
  --color-important: #2e2f42;
  --color-hover-focus-studio: #404bbf;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--brand-color);
  background-color: var(--brand-color-background);
}

.logo_up {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-color);
}

.link {
  text-decoration: none;
}
.second_part_of_up_logo {
  color: var(--color-important);
}
.list {
  list-style: none;
}
.about_me {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-important);
}
.about_me:hover,
.about_me:focus {
  color: var(--color-hover-focus-studio);
}
.address {
  font-style: normal;
}
.contacts {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--brand-color);
}
.contacts:hover,
.contacts:focus {
  color: var(--color-hover-focus-studio);
}
.section_theme {
  background-color: var(--color-important);
}
.main_header {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.btn_main_header {
  background-color: var(--logo-color);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
}
.btn_main_header:hover,
.btn_main_header:focus {
  background-color: var(--color-hover-focus-studio);
  cursor: pointer;
}
.point_of_section_two_list {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-important);
}
.paragraph_point_of_section_two {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
