:root {
  --brand-color: #434455;
  --background-color: #ffffff;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--brand-color);
  background-color: var(--background-color);
}

.first_logo_first_part {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0, 03em;
  text-transform: uppercase;
}
