:root {
  --brand-color: #434455;
  --background-color: #ffffff;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--brand-color);
  background-color: var(--background-color);
}
.address {
  font-style: normal;
  color: var(--brand-color);
}

.link {
  text-decoration: none;
  list-style: none;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  --color-list-in-nav: #2e2f42;
  color: var(--color-list-in-nav);
}

.link:hover,
.link:focus {
  color: #404bbf;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  --logo-text-color: #4d5ae5;
  color: var(--logo-text-color);
  text-decoration: none;
}

.second_part_of_up_logo {
  --second-part-of-up-logo: #2e2f42;
  color: var(--second-part-of-up-logo);
}

.footer {
  --background-color-footer: #2e2f42;
  color: var(--background-color-footer);
}

.second_part_of_down_logo {
  --text-color-logo-footer: #f4f4fd;
  color: var(--text-color-logo-footer);
}
